-- Fix event_pendencies to include needs_worship and consider all musical roles
CREATE OR REPLACE VIEW event_pendencies AS
SELECT 
    e.id,
    e.title,
    e.date,
    e.start_time,
    e.needs_sound,
    e.needs_worship,
    e.needs_deaconry,
    et.name AS event_type,
    
    -- Pregador
    EXISTS(
        SELECT 1 FROM event_participants ep
        JOIN roles r ON r.id = ep.role_id
        WHERE ep.event_id = e.id AND r.name ILIKE '%Pregador%'
    ) AS has_preacher,
    
    -- Louvor (Qualquer funcao musical)
    (NOT e.needs_worship OR EXISTS(
        SELECT 1 FROM event_participants ep
        JOIN roles r ON r.id = ep.role_id
        WHERE ep.event_id = e.id AND r.category = 'musical'
    )) AS has_worship_leader,
    
    -- Sonoplastia
    (NOT e.needs_sound OR EXISTS(
        SELECT 1 FROM event_participants ep
        JOIN roles r ON r.id = ep.role_id
        WHERE ep.event_id = e.id AND r.name ILIKE '%Sonoplasta%'
    )) AS has_sound,
    
    -- Diaconato
    (NOT e.needs_deaconry OR EXISTS(
        SELECT 1 FROM event_participants ep
        JOIN roles r ON r.id = ep.role_id
        WHERE ep.event_id = e.id AND r.name ILIKE '%Diácono%'
    )) AS has_deaconry,
    
    e.responsible_person_id IS NOT NULL AS has_responsible,
    e.location_id IS NOT NULL AS has_location,
    
    CASE
        WHEN e.date < CURRENT_DATE THEN true
        ELSE false
    END as is_past
FROM events e
LEFT JOIN event_types et ON et.id = e.event_type_id
WHERE e.status != 'cancelled';

