-- Script to unify duplicate people by name
DO \$\$
DECLARE
    r RECORD;
    kept_id UUID;
    dup_id UUID;
BEGIN
    FOR r IN (
        SELECT name, COUNT(*) as cnt 
        FROM people 
        GROUP BY name 
        HAVING COUNT(*) > 1
    ) LOOP
        -- Get the ID of the person to keep (the oldest one)
        SELECT id INTO kept_id FROM people WHERE name = r.name ORDER BY created_at ASC LIMIT 1;
        
        -- Loop through the duplicates
        FOR dup_id IN (
            SELECT id FROM people WHERE name = r.name AND id != kept_id
        ) LOOP
            -- Update person_roles (avoiding unique constraint violations)
            -- For person_roles, we need to ignore if the kept person already has the role
            UPDATE person_roles pr1
            SET person_id = kept_id
            WHERE person_id = dup_id
            AND NOT EXISTS (
                SELECT 1 FROM person_roles pr2 
                WHERE pr2.person_id = kept_id AND pr2.role_id = pr1.role_id
            );
            -- Delete any remaining person_roles for the duplicate (they were already present in kept)
            DELETE FROM person_roles WHERE person_id = dup_id;

            -- Update event_participants
            UPDATE event_participants ep1
            SET person_id = kept_id
            WHERE person_id = dup_id
            AND NOT EXISTS (
                SELECT 1 FROM event_participants ep2 
                WHERE ep2.event_id = ep1.event_id AND ep2.role_id = ep1.role_id AND ep2.person_id = kept_id
            );
            DELETE FROM event_participants WHERE person_id = dup_id;

            -- Update schedules
            UPDATE schedules s1
            SET person_id = kept_id
            WHERE person_id = dup_id
            AND NOT EXISTS (
                SELECT 1 FROM schedules s2 
                WHERE s2.event_id = s1.event_id AND s2.person_id = kept_id
            );
            DELETE FROM schedules WHERE person_id = dup_id;
            
            -- Update events where duplicate is responsible, preacher, worship leader, or sound person
            UPDATE events SET responsible_person_id = kept_id WHERE responsible_person_id = dup_id;
            UPDATE events SET preacher_id = kept_id WHERE preacher_id = dup_id;
            UPDATE events SET worship_leader_id = kept_id WHERE worship_leader_id = dup_id;
            UPDATE events SET sound_person_id = kept_id WHERE sound_person_id = dup_id;

            -- Update users table if they are linked
            UPDATE users SET person_id = kept_id WHERE person_id = dup_id;

            -- Delete the duplicate person
            DELETE FROM people WHERE id = dup_id;
        END LOOP;
    END LOOP;
END \$\$;

